In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import warnings

# Ignore FutureWarning
warnings.simplefilter(action='ignore', category=FutureWarning)


pd.options.mode.chained_assignment = None

import sqlite3
from dotenv import load_dotenv

load_dotenv()
import os

DB_PATH = os.getenv("DB_PATH")
DATA_PATH = "data"

conn = sqlite3.connect(DB_PATH)

In [2]:
df_score_region = pd.read_csv('../immaterial_index/results/df_region_score.csv', index_col = [0])
df_score_region.sample(5)

              region_name  decade  score
4652  Southwestern Europe    1850   1373
5466  mediterranean World    1440      5
4265       Southern Italy    -120      4
3813             Portugal    1660      8
234          Arabic world    1490      3

In [3]:
df_unseen_model = pd.read_csv('../unseen_species_model/results/estimations_charles.csv')
df_unseen_model = df_unseen_model[df_unseen_model['decade']<=1880]

df_score_region = pd.read_csv('../immaterial_index/results/df_region_score.csv', index_col=[0])
df_score_region = df_score_region.rename(columns = {'region_name':'region'})

new_df = pd.merge(df_unseen_model, df_score_region, on = ['decade', 'region'])
new_df = new_df.rename(columns = {'region':'region_name', 'decade':'year'})

#new_df['year'] = new_df['year'].astype(int)
#new_df['year'] = new_df['year'].apply(lambda x: round(x/10)*10)
#new_df = new_df.groupby(['region_name', 'year']).mean().reset_index()
#new_df = new_df[new_df['year']<=1840]


#new_df = new_df[~new_df['N_est'].isna()]
# When there is no individuals for the 'score' index, replace by 0
#new_df = new_df.fillna(0)

### Load GDP and Population Data

In [4]:
#df_region_code = pd.read_sql_query("SELECT * FROM region_code", conn)
df_region_code = pd.read_csv("../environnement_data/region_code.csv", index_col = [0])

#df_gdp = pd.read_sql_query("SELECT * FROM gdp", conn)
df_gdp = pd.read_csv("../environnement_data/gdp.csv", index_col=[0])

df_gdp = df_gdp.drop(['country_code_maddison'], axis=1)
df_gdp = df_gdp[df_gdp['year']<=1880]
df_gdp = pd.merge(df_gdp, df_region_code, on = 'region_code')
df_gdp.sample(5)

#df_gdp_clean =  pd.read_sql_query("SELECT * FROM gdp_clean", conn)
df_gdp_clean = pd.read_csv("../environnement_data/gdp_clean.csv", index_col=[0])
df_gdp_clean = pd.merge(df_gdp_clean, df_region_code, on = 'region_code')

In [5]:
#df_population = pd.read_sql_query("SELECT * FROM population", conn)
df_population = pd.read_csv("../environnement_data/population.csv", index_col=[0])

df_population = pd.merge(df_population, df_region_code, on = 'region_code')
df_population = df_population.drop('region_code', axis=1)
df_population.sample(5)

      year  population          region_name
8435  -660    0.035000               Sweden
1552   920    2.728000       Central Europe
4588  1630  141.000000         Indian world
6828  -170    8.158618  Northwestern Europe
4770   740    0.254000              Ireland

In [6]:
def interpolate_function(df, value="value", category="region_code", year="year", size_interpolation = 10):
    df_interpolated_list = []
    for reg in set(df[category]):
        res = df[df[category] == reg]

        min_date = min(res["year"])
        max_date = max(res["year"])

        year_range = np.arange(round(min_date), round(max_date), size_interpolation)
        df_year = pd.DataFrame(year_range, columns=[year]).reset_index(drop=True)

        res = pd.merge(res, df_year, on=year, how="outer")
        res[category] = reg
        res = res.sort_values(year, ascending=True)
        res[f"{value}_interpolated"] = res[value].interpolate(method="linear")
        res = res.reset_index(drop=True)
        res = res[~res[f"{value}_interpolated"].isna()]

        df_interpolated_list.append(res)

    df_interpolated = pd.concat([x for x in df_interpolated_list])
    df_interpolated = df_interpolated.reset_index(drop=True)
    df_interpolated = df_interpolated.drop(value, axis=1)

    return df_interpolated

df_population_interpolation = interpolate_function(df_population, 
                                                   value = 'population', 
                                                   year = 'year', 
                                                   category="region_name",
                                                   size_interpolation = 10)

In [7]:
max(df_gdp.year)

1880

In [8]:
# Linear interpolation on the proxies in order to merge with the GDP data excatly (that are at the year level)

final = pd.merge(df_population_interpolation, new_df, on = ['region_name', 'year'])
final['score_cap'] = final['score']/final['population_interpolated']
final['lower_cap'] = final['lower']/final['population_interpolated']
final['N_est_cap'] = final['N_est']/final['population_interpolated']
final['upper_cap'] = final['upper']/final['population_interpolated']

data_stats = pd.merge(final, df_gdp, on = ['region_name', 'year'])
#data_stats.to_csv(f'results/data_stats.csv')

df_stats_clean = pd.merge(final, df_gdp_clean, on = ['region_name', 'year'])
df_stats_clean.to_csv(f'results/data_stats_clean_gdp_charles.csv')

,year,region_name,population_interpolated,N_est,lower,upper,score,score_cap,lower_cap,N_est_cap,upper_cap,region_code,country_code_maddison,gdp_per_capita
0,1810,Nordic countries,3.853,3196.121203,2965.314975,3430.643471,286,74.227874,769.611984,829.514976,890.382422,re_nordic_countries,SWE,1320
1,1820,Nordic countries,4.156,4311.456813,4005.243281,4621.396988,401,96.487007,963.725525,1037.405393,1111.981951,re_nordic_countries,SWE,1415
2,1830,Nordic countries,4.459,4446.875435,4131.787733,4763.070033,397,89.033416,926.617567,997.280878,1068.192427,re_nordic_countries,SWE,1468
3,1840,Nordic countries,4.762,6455.989265,5999.489636,6913.274656,600,125.997480,1259.867626,1355.730631,1451.758643,re_nordic_countries,SWE,1568
4,1850,Nordic countries,5.065,6897.168980,6404.390298,7386.141238,661,130.503455,1264.440335,1361.731289,1458.270728,re_nordic_countries,SWE,1715
5,1860,Nordic countries,5.568,9864.405555,9157.698755,10576.393052,896,160.919540,1644.701644,1771.624561,1899.495879,re_nordic_countries,SWE,1941
6,1870,Nordic countries,6.071,9612.318459,8916.921479,10315.955055,879,144.786691,1468.773098,1583.317157,1699.218425,re_nordic_countries,SWE,2144
7,1880,Nordic countries,6.574,14409.418738,13342.245534,15510.340582,1338,203.529054,2029.547541,2191.879942,2359.345997,re_nordic_countries,SWE,2359
8,1810,United Kingdom,12.800,4259.668978,4069.750713,4456.187558,652,50.937500,317.949274,332.786639,348.139653,re_united_kingdom,GBR,3478
9,1820,United Kingdom,14.850,6349.677636,6070.492343,6638.011281,955,64.309764,408.787363,427.587720,447.004127,re_united_kingdom,GBR,3306
10,1830,United Kingdom,16.900,6326.557929,6054.929088,6606.436946,943,55.798817,358.279828,374.352540,390.913429,re_united_kingdom,GBR,3550
11,1840,United Kingdom,18.950,9912.488493,9489.654023,10343.216708,1492,78.733509,500.773299,523.086464,545.816185,re_united_kingdom,GBR,4018
12,1850,United Kingdom,21.000,9890.641472,9468.749473,10323.781759,1449,69.000000,450.892832,470.982927,491.608655,re_united_kingdom,GBR,4332
13,1860,United Kingdom,24.300,12655.413433,12110.796830,13214.802307,1846,75.967078,498.386701,520.798907,543.819025,re_united_kingdom,GBR,5086
14,1870,United Kingdom,27.600,10072.588618,9622.137302,10531.236925,1457,52.789855,348.628163,364.948863,381.566555,re_united_kingdom,GBR,5829
15,1880,United Kingdom,30.900,14551.772651,13856.485578,15266.317781,2107,68.187702,448.429954,470.931154,494.055592,re_united_kingdom,GBR,5997
16,1820,Low countries,6.150,2476.851860,2347.152590,2610.263808,338,54.959350,381.650828,402.740140,424.433140,re_low_countries,NLD,3006
17,1830,Low countries,6.600,2770.976375,2626.857264,2919.275563,381,57.727273,398.008676,419.844905,442.314479,re_low_countries,NLD,3038
18,1840,Low countries,7.050,5584.698251,5292.329594,5882.912969,799,113.333333,750.685049,792.155780,834.455740,re_low_countries,NLD,3623
19,1850,Low countries,7.500,5798.885884,5501.239970,6106.112885,841,112.133333,733.498663,773.184785,814.148385,re_low_countries,NLD,3779
20,1860,Low countries,8.450,7706.743319,7305.520821,8112.846227,1120,132.544379,864.558677,912.040629,960.100145,re_low_countries,NLD,3840
21,1870,Low countries,9.400,7025.722277,6655.687726,7406.450766,939,99.893617,708.051886,747.417263,787.920294,re_low_countries,NLD,4422
22,1880,Low countries,10.350,9344.651520,8831.818064,9885.071799,1253,121.062802,853.315755,902.864881,955.079401,re_low_countries,NLD,4666
23,1820,France,31.800,8157.418134,7858.092706,8462.637217,1105,34.748428,247.109834,256.522583,266.120667,re_france,FRA,1809
24,1830,France,33.200,9473.148243,9137.669157,9819.291895,1314,39.578313,275.230999,285.335790,295.761804,re_france,FRA,1898
25,1840,France,34.600,15965.343441,15414.563715,16534.262900,2228,64.393064,445.507622,461.426111,477.868870,re_france,FRA,2276
26,1850,France,36.000,15562.287227,15015.291428,16116.538051,2148,59.666667,417.091429,432.285756,447.681613,re_france,FRA,2546
27,1860,France,37.000,20101.366826,19368.280061,20846.144991,2799,75.648649,523.467029,543.280184,563.409324,re_france,FRA,3016
28,1870,France,38.000,14586.682192,14016.932746,15164.810773,1986,52.263158,368.866651,383.860058,399.073968,re_france,FRA,2990
29,1880,France,39.000,21694.958685,20744.497967,22640.368099,3033,77.769231,531.910204,556.280992,580.522259,re_france,FRA,3379
30,1810,Italy,20.200,5753.881477,5446.641672,6067.683682,437,21.633663,269.635726,284.845618,300.380380,re_italy,ITA,2558
31,1820,Italy,21.400,6982.651802,6614.140033,7356.083304,542,25.327103,309.071964,326.292140,343.742210,re_italy,ITA,2665
32,1830,Italy,22.600,6689.542840,6345.163299,7041.892398,523,23.141593,280.759438,295.997471,311.588159,re_italy,ITA,2657
33,1840,Italy,23.800,13140.038868,12466.412741,13824.227623,1040,43.697479,523.798855,552.102473,580.849900,re_italy,ITA,2711
34,1850,Italy,25.000,12030.195224,11410.276126,12656.744226,950,38.000000,456.411045,481.207809,506.269769,re_italy,ITA,2611
35,1860,Italy,26.800,15425.595667,14622.162918,16230.204315,1226,45.746269,545.603094,575.581928,605.604639,re_italy,ITA,2573
36,1870,Italy,28.600,12361.031838,11702.750278,13028.539917,1000,34.965035,409.187073,432.203910,455.543354,re_italy,ITA,2826
37,1880,Italy,30.400,18507.408746,17469.921586,19560.505020,1478,48.618421,574.668473,608.796340,643.437665,re_italy,ITA,2796
38,1820,Eastern Europe,33.750,20215.998351,19041.703802,21462.854737,951,28.177778,564.198631,598.992544,635.936437,re_eastern_europe,POL,818
39,1830,Eastern Europe,36.000,20037.480914,18904.415281,21251.367282,977,27.138889,525.122647,556.596692,590.315758,re_eastern_europe,POL,942
40,1840,Eastern Europe,38.250,32381.722926,30549.625284,34298.312793,1588,41.516340,798.683014,846.580992,896.687916,re_eastern_europe,POL,907
41,1850,Eastern Europe,40.500,34105.887515,32184.323249,36115.933420,1640,40.493827,794.674648,842.120679,891.751442,re_eastern_europe,POL,985
42,1860,Eastern Europe,45.100,46752.418600,44050.698686,49501.668553,2284,50.643016,976.733895,1036.638993,1097.597972,re_eastern_europe,POL,1358
43,1870,Eastern Europe,49.700,45703.398044,42974.144555,48455.997024,2259,45.452716,864.670917,919.585474,974.969759,re_eastern_europe,POL,1575
44,1880,Eastern Europe,54.300,75573.125713,70854.394116,80385.546585,3748,69.023941,1304.869137,1391.770271,1480.396806,re_eastern_europe,POL,1886

In [9]:
df_stats_clean.sample(5)

,year,region_name,population_interpolated,N_est,lower,upper,score,score_cap,lower_cap,N_est_cap,upper_cap,region_code,country_code_maddison,gdp_per_capita
24,1830,France,33.200,9473.148243,9137.669157,9819.291895,1314,39.578313,275.230999,285.335790,295.761804,re_france,FRA,1898
5,1860,Nordic countries,5.568,9864.405555,9157.698755,10576.393052,896,160.919540,1644.701644,1771.624561,1899.495879,re_nordic_countries,SWE,1941
13,1860,United Kingdom,24.300,12655.413433,12110.796830,13214.802307,1846,75.967078,498.386701,520.798907,543.819025,re_united_kingdom,GBR,5086
14,1870,United Kingdom,27.600,10072.588618,9622.137302,10531.236925,1457,52.789855,348.628163,364.948863,381.566555,re_united_kingdom,GBR,5829
44,1880,Eastern Europe,54.300,75573.125713,70854.394116,80385.546585,3748,69.023941,1304.869137,1391.770271,1480.396806,re_eastern_europe,POL,1886

In [10]:
years = np.arange(-1000, 1881, 1)

print(len(final))

concat_list = []

for region in final.region_name.unique():
    df_years = pd.DataFrame(years, columns = ['year'])
    df_years['region_name'] = region
    
    final_filtered = final[final['region_name']==region]
    mix = pd.merge(df_years, final_filtered, on = ['year', 'region_name'], how = 'outer')
    concat_list.append(mix)
    
new_final = pd.concat(concat_list)
new_final = new_final.sort_values(['region_name', 'year'])

new_final = new_final.set_index('year')
grouped = new_final.groupby('region_name')

interpolated_data = []
for name, group in grouped:
    interpolated_group = group.interpolate(method='linear')
    interpolated_data.append(interpolated_group)

# Concatenate the interpolated data for all regions
interpolated_df = pd.concat(interpolated_data)

# Reset the index to restore the 'year' column
interpolated_df = interpolated_df.reset_index()
interpolated_df = interpolated_df.drop_duplicates().dropna().reset_index(drop=True)

2080

In [11]:
data_stats_interpolated = pd.merge(interpolated_df, df_gdp, on = ['region_name', 'year'])
data_stats_interpolated = data_stats_interpolated.reset_index(drop=True)
#data_stats_interpolated.to_csv(f'results/data_stats_interpolated.csv')

data_stats_interpolated_clean_gdp = pd.merge(interpolated_df, df_gdp_clean, on = ['region_name', 'year'])
data_stats_interpolated_clean_gdp = data_stats_interpolated_clean_gdp.reset_index(drop=True)
#data_stats_interpolated_clean_gdp.to_csv(f'results/data_stats_interpolated_clean_gdp.csv')

In [12]:
max(data_stats_interpolated.year)

1880