In [9]:
import pandas as pd


df_ind = pd.read_csv('../results/df_individuals_score.csv', index_col=[0])

# Manually clean the top 30

df_ind = df_ind.sort_values(['region_name', 'score'], ascending=(False, False))

,individual_wikidata_id,productive_year,decade,individual_name,score,region_code,region_name
0,Q202809,1838.0,1840,Frederick Coombs,12,re_british_islands,British Islands
1,Q202809,1838.0,1840,Frederick Coombs,12,re_northwestern_europe,Northwestern Europe
2,Q202809,1838.0,1840,Frederick Coombs,12,re_united_kingdom,United Kingdom
3,Q202809,1838.0,1840,Frederick Coombs,12,re_western_europe,Western Europe
4,Q4350107,1820.0,1820,Vassili Perevoštšikov,4,re_eastern_europe,Eastern Europe
...,...,...,...,...,...,...,...
598969,Q43136014,1879.0,1880,Alexandre Nicolaievich Roussoff,12,re_eastern_europe,Eastern Europe
598970,Q43136014,1879.0,1880,Alexandre Nicolaievich Roussoff,12,re_slav_world,Slav world
598973,Q2900120,1861.0,1860,Mardochée Aby Serour,12,re_ottoman_world,Ottoman world
598974,Q2900120,1861.0,1860,Mardochée Aby Serour,12,re_muslim_world,Muslim world
598975,Q2900120,1861.0,1860,Mardochée Aby Serour,12,re_arabic_world,Arabic world

In [7]:

df_ind = df_ind.groupby(['individual_wikidata_id', 'individual_name', 'productive_year'])['region_name'].apply(lambda x: ' | '.join(x)).reset_index()
df_ind

,individual_wikidata_id,individual_name,productive_year,region_name
0,Q1000034,Joseph Dienger,1853.0,Northwestern Europe | Western Europe | German ...
1,Q100022441,Charles Joseph Vanhove,1774.0,Northwestern Europe | Western Europe | France ...
2,Q100028706,Luigi Sangermano,1881.0,Western Europe | Italy | Southwestern Europe |...
3,Q100029799,Eugenio Torriani,1860.0,Western Europe | Northern Italy | Italy | Sout...
4,Q100031,Kaspar von Stieler,1667.0,Northwestern Europe | Western Europe | German ...
...,...,...,...,...
159850,Q99980669,Adrian Junga,1585.0,Eastern Europe | Central Europe
159851,Q99982212,Alois Filcík,1876.0,Eastern Europe | Central Europe
159852,Q999904,Narcís Oller,1881.0,Western Europe | Southwestern Europe | Spain
159853,Q999920,Joseph Lange,1786.0,Northwestern Europe | Western Europe | German ...
159854,Q999983,Gui de Melun,1285.0,Northwestern Europe | Western Europe | France