In [1]:
from dotenv import load_dotenv

load_dotenv()
import os
import pandas as pd
import sqlite3

DB_PATH = os.getenv("DB_PATH")
DATA_PATH = "data"
conn = sqlite3.connect(DB_PATH)

In [18]:
# Individuals Regions
df_gdp = pd.read_sql_query("SELECT * FROM gdp", conn)

In [20]:
df_gdp[df_gdp['region_code']=='re_latin']

    region_code country_code_maddison  year  gdp_per_capita  region_name
0      re_latin                   ITA     1            1407  Latin World
1      re_latin                   ITA  1310            2857  Latin World
2      re_latin                   ITA  1311            2750  Latin World
3      re_latin                   ITA  1312            2788  Latin World
4      re_latin                   ITA  1313            2788  Latin World
..          ...                   ...   ...             ...          ...
537    re_latin                   ITA  1846            2650  Latin World
538    re_latin                   ITA  1847            2588  Latin World
539    re_latin                   ITA  1848            2657  Latin World
540    re_latin                   ITA  1849            2642  Latin World
541    re_latin                   ITA  1850            2611  Latin World

[542 rows x 5 columns]

In [58]:
# re_netherlands
# re_nordic_countries

In [59]:
# Individuals Regions
df_population = pd.read_sql_query("SELECT * FROM population", conn)

In [60]:
set(df_population.region_code)

{'re_arabic_world',
 're_austria',
 're_balkans',
 're_belgium',
 're_british_islands',
 're_central_europe',
 're_chinese_world',
 're_denmark',
 're_eastern_europe',
 're_france',
 're_german_world',
 're_germany',
 're_greece',
 're_greek_world',
 're_iceland',
 're_indian_world',
 're_ireland',
 're_italy',
 're_japan',
 're_korea',
 're_latin',
 're_low_countries',
 're_muslim_world',
 're_netherlands',
 're_nordic_countries',
 're_northwestern_europe',
 're_ottoman_turkey',
 're_persian_world',
 're_portugal',
 're_southwestern_europe',
 're_spain',
 're_sweden',
 're_switzerland',
 're_united_kingdom',
 're_western_europe'}

In [23]:
data_env_path = '/Users/charlesdedampierre/Desktop/ENS Projects/cultural_index/src/enricher/data_env'

In [62]:
df_maddison = pd.read_csv(
    data_env_path + "/gdp_per_capita_maddison.csv", index_col=[0]
)

# region_code #code_country_maddison #code_country
gdp_equiv = pd.read_csv(
    data_env_path
    + "/ENS - Cultural Index - Countries Databases - gdp_consolidate_table.csv"
)
gdp_equiv = gdp_equiv[["region_code", "code_country_maddison"]]
gdp_equiv = gdp_equiv.dropna()
gdp_equiv.columns = ["region_code", "country_code_maddison"]

df_maddison_stats = pd.merge(gdp_equiv, df_maddison, on="country_code_maddison")
df_maddison_stats = df_maddison_stats[df_maddison_stats['year']<=1850]

In [7]:
data = pd.read_csv('../stats_correlation/data_stats.csv')

In [22]:
data[data['region_name']=='Latin World']

,Unnamed: 0,year,region_name,population_interpolated,N_est,lower,upper,score,score_cap,lower_cap,N_est_cap,upper_cap,gdp_per_capita
2003,2003,1,Latin World,25.206,59.378429,44.416200,75.284322,6.5,0.258641,1.767845,2.363369,2.996446,1407
2004,2004,1310,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2857
2005,2005,1311,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2750
2006,2006,1312,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2788
2007,2007,1313,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,2529,1835,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2888
2530,2530,1836,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2680
2531,2531,1837,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2611
2532,2532,1838,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2650
2533,2533,1839,Latin World,23.202,4.759163,2.853217,6.873986,2.0,0.086199,0.122973,0.205119,0.296267,2627