In [4]:
import pandas as pd


df_ind = pd.read_csv('results/df_individuals_score.csv', index_col=[0])

# Manually clean the top 30
df = df_ind.sort_values(['region_name', 'score'], ascending=(False, False))
df = df.groupby(['individual_wikidata_id', 'individual_name', 'productive_year'])['region_name'].apply(lambda x: ' | '.join(x)).reset_index()
df

,individual_wikidata_id,individual_name,productive_year,region_name
0,Q1000034,Joseph Dienger,1853.0,Western Europe | Northwestern Europe | Germany...
1,Q100022441,Charles Joseph Vanhove,1774.0,Western Europe | Northwestern Europe | Norther...
2,Q100028706,Luigi Sangermano,1881.0,Western Europe | Southwestern Europe | Souther...
3,Q100029799,Eugenio Torriani,1860.0,Western Europe | Southwestern Europe | Norther...
4,Q100031,Kaspar von Stieler,1667.0,Western Europe | Northwestern Europe | Germany...
...,...,...,...,...
159850,Q99980669,Adrian Junga,1585.0,Eastern Europe | Central Europe
159851,Q99982212,Alois Filcík,1876.0,Eastern Europe | Central Europe
159852,Q999904,Narcís Oller,1881.0,Western Europe | Spain | Southwestern Europe
159853,Q999920,Joseph Lange,1786.0,Western Europe | Northwestern Europe | German ...
159854,Q999983,Gui de Melun,1285.0,Western Europe | Northwestern Europe | France

In [13]:
df_only_indians = df_ind[df_ind['region_name']=='Indian world']
df_only_indians = df_only_indians.sort_values(['region_name', 'score'], ascending=(False, False)) 
df_only_indians = df_only_indians[30:]
df_only_indians = df_only_indians.groupby(['individual_wikidata_id', 'individual_name', 'score', 'productive_year'])['region_name'].apply(lambda x: ' | '.join(x)).reset_index()
df_only_indians = df_only_indians[['individual_wikidata_id', 'productive_year', 'individual_name', 'score', 'region_name']]
df_only_indians.to_clipboard(index=False)