In [5]:
import pandas as pd

data = pd.read_csv('../immaterial_index/results/df_individuals_score.csv', index_col = [0])
print(data[data['individual_wikidata_id']=='Q538902'])

list(set(data.region_name))

      individual_wikidata_id  productive_year  decade    individual_name  \
29571                Q538902            977.0     980  Abu-Mansur Daqiqi
29572                Q538902            977.0     980  Abu-Mansur Daqiqi

       score       region_code    region_name
29571     17   re_muslim_world   Muslim world
29572     17  re_persian_world  Persian world

['Southern India',
 'Arabic world',
 'Northern France',
 'Japan',
 'Austria',
 'Southern France',
 'Italy',
 'Southern Japan',
 'Northwestern Europe',
 'mediterranean World',
 'British Islands',
 'Denmark',
 'Arabian peninsula',
 'Belgium',
 'Switzerland',
 'Finland',
 'Northern India',
 'South East Asia',
 'Muslim world',
 'Greek World',
 'Central Europe',
 'Netherlands',
 'Ottoman Turkey',
 'Chinese world',
 'German world',
 'Ireland',
 'Korea',
 'Germany',
 'Spain',
 'Greece',
 'Northern China',
 'Balkans',
 'Low countries',
 'Norway',
 'Northern Japan',
 'Portugal',
 'Northern Italy',
 'Ottoman world',
 'Yangtze',
 'Sweden',
 'France',
 'Southern China',
 'Slav world',
 'Iceland',
 'Nordic countries',
 'Indian world',
 'Latin World',
 'Southwestern Europe',
 'United Kingdom',
 'Southern Italy',
 'Persian world',
 'Eastern Europe',
 'Western Europe']

In [ ]:


region_name =  "Chinese world"
min_date = -800
max_date = 1800

data = data[data['region_name']==region_name]
data = data[(data['productive_year']>=min_date)&(data['productive_year']<=max_date)]

['Chinese world']

In [22]:
data_region_score = pd.read_csv('../immaterial_index/results/df_region_score.csv', index_col = [0])
data_region_score = data_region_score[data_region_score['region_name']==region_name]
data_region_score = data_region_score[(data_region_score['decade']>=min_date)&(data_region_score['decade']<=max_date)]
data_region_score

       region_name  decade  score
732  Chinese world    -680     25
733  Chinese world    -650      3
734  Chinese world    -540    109
735  Chinese world    -520    152
736  Chinese world    -510     79
..             ...     ...    ...
930  Chinese world    1760    524
931  Chinese world    1770    357
932  Chinese world    1780    370
933  Chinese world    1790    328
934  Chinese world    1800    547

[203 rows x 3 columns]

       region_name  decade  score
732  Chinese world    -680     25
733  Chinese world    -650      3
734  Chinese world    -540    109
735  Chinese world    -520    152
736  Chinese world    -510     79
..             ...     ...    ...
930  Chinese world    1760    524
931  Chinese world    1770    357
932  Chinese world    1780    370
933  Chinese world    1790    328
934  Chinese world    1800    547

[203 rows x 3 columns]

In [13]:
data_region_score.groupby('decade')['individual_wikidata_id'].count()

decade
-680      1
-650      1
-540      1
-520      1
-510      1
         ..
 1760    43
 1770    41
 1780    49
 1790    41
 1800    38
Name: individual_wikidata_id, Length: 203, dtype: int64

In [7]:
data.decade.value_counts()

decade
 1660    93
 1680    67
 1700    53
 1780    49
 1650    46
         ..
 550      1
-520      1
-130      1
 100      1
 470      1
Name: count, Length: 203, dtype: int64

In [9]:
data[data['decade']<=-300]

,individual_wikidata_id,productive_year,decade,individual_name,score,region_code,region_name
6611,Q37151,-508.0,-510,Sun Tzu,79,re_chinese_world,Chinese world
57794,Q47739,-333.0,-330,Zhuangzi,93,re_chinese_world,Chinese world
65995,Q313330,-307.0,-310,Qu Yuan,50,re_chinese_world,Chinese world
68090,Q716190,-465.0,-460,Li Kui,1,re_chinese_world,Chinese world
83717,Q855326,-465.0,-460,Bian Que,15,re_chinese_world,Chinese world
146460,Q6470617,-654.0,-650,Lady Xu Mu,3,re_chinese_world,Chinese world
206497,Q10944085,-471.0,-470,Bu Shang,3,re_chinese_world,Chinese world
277124,Q4604,-515.0,-520,Confucius,152,re_chinese_world,Chinese world
282560,Q218900,-400.0,-400,Shi Shen,2,re_chinese_world,Chinese world
296826,Q559421,-349.0,-350,Shen Buhai,7,re_chinese_world,Chinese world
334649,Q457972,-684.0,-680,Guan Zhong,25,re_chinese_world,Chinese world
342528,Q9333,-544.0,-540,Laozi,109,re_chinese_world,Chinese world
407077,Q403757,-400.0,-400,Gan De,7,re_chinese_world,Chinese world
441946,Q351345,-354.0,-350,Shang Yang,33,re_chinese_world,Chinese world
517101,Q1268609,-490.0,-490,Wu Zixu,13,re_chinese_world,Chinese world
522937,Q2984064,-414.0,-410,Lie Yukou,40,re_chinese_world,Chinese world
551745,Q334090,-365.0,-360,Sun Bin,28,re_chinese_world,Chinese world