In [1]:
import sqlite3
import pandas as pd
import plotly.express as px
import sys
from plotly.subplots import make_subplots
import plotly.graph_objects as go

sys.path.append('../')
from functions_env import DB_PATH


conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

In [2]:
# Load individuals Main Informations
individuals = pd.read_sql_query("SELECT * FROM individuals_kept", conn)

In [3]:
# Load identifiers meta-data
df_identifiers = pd.read_sql_query("SELECT * FROM identifiers", conn)
df_identifiers['country_name'][df_identifiers['country_name'].isna()]=''
df_identifiers['identifier_name'] = df_identifiers.apply(lambda x : x['identifier_name'] + ' ('  + x['country_name'] + ')' if x['country_name']!='' else x['identifier_name'], axis=1)
df_identifiers = df_identifiers.drop(['country_wikidata_id', 'count_records', 'identifier_url'], axis=1).drop_duplicates()
df_identifiers = df_identifiers.drop(['country_name', 'identifier_name_country'], axis=1).drop_duplicates()

/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_43572/4189010349.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_identifiers['country_name'][df_identifiers['country_name'].isna()]=''

In [4]:
# Load infirmation about individuals and identifiers
df_ind_identifiers = pd.read_sql_query("SELECT * FROM individual_identifiers", conn)
df_ind_identifiers = df_ind_identifiers.drop('identifier_name', axis=1)
df_ind_identifiers = pd.merge(df_ind_identifiers, df_identifiers, on = 'identifiers_wikidata_id', how = 'left')

# Freebase is now mixed with Google ID
df_ind_identifiers['identifier_name'][df_ind_identifiers['identifier_name']=='Freebase ID'] = 'Google Knowledge Graph ID'
df_ind_identifiers['identifiers_wikidata_id'][df_ind_identifiers['identifiers_wikidata_id']=='P646'] = 'P2671'

# Mix the two GND
df_ind_identifiers['identifier_name'][df_ind_identifiers['identifier_name']=='Deutsche Biographie (GND) ID (Germany)'] = 'GND ID (Germany)'
df_ind_identifiers['identifiers_wikidata_id'][df_ind_identifiers['identifiers_wikidata_id']=='P7902'] = 'P227'

# Clean wrong objects
df_ind_identifiers = df_ind_identifiers[~df_ind_identifiers['individual_name'].str.contains('Painter')]

# Remove superceded
df_ind_identifiers = df_ind_identifiers[~df_ind_identifiers['identifier_name'].str.contains('superceded')]
df_ind_identifiers = df_ind_identifiers[~df_ind_identifiers['identifier_name'].str.contains('obsolete')]

# Drop duplicated after mergeing GND and Freebase
df_ind_identifiers = df_ind_identifiers.drop_duplicates()

In [5]:
df_final = pd.merge(df_ind_identifiers, individuals, on = 'individual_wikidata_id')
df_stats = df_final[['individual_wikidata_id', 'identifier_name']].drop_duplicates()

In [13]:
len(set(df_stats.individual_wikidata_id))

159745

In [10]:
# Group by 'identifier_name' and calculate the count and percentage
grouped = df_stats.groupby('identifier_name').size().reset_index(name='count')
grouped = grouped.sort_values('count', ascending=False).reset_index(drop=True)
grouped['percent'] = round(grouped['count']/len(individuals)*100, 1)
grouped.columns = ['Catalog', 'N Individuals', '%']



grouped['Catalog'] = grouped['Catalog'].str.replace('United States of America', 'US')
grouped.head(20)

                                              Catalog  N Individuals     %
0                                             VIAF ID         129575  81.1
1                           Google Knowledge Graph ID         116647  73.0
2                                    GND ID (Germany)          96397  60.3
3                                                ISNI          92573  58.0
4                                   CERL Thesaurus ID          76163  47.7
5               Library of Congress authority ID (US)          68167  42.7
6                                   IdRef ID (France)          50879  31.9
7   Nationale Thesaurus voor Auteurs ID (Netherlands)          48337  30.3
8        Bibliothèque nationale de France ID (France)          48205  30.2
9                                   NUKAT ID (Poland)          38882  24.3
10                                            FAST ID          38770  24.3
11                               Open Library ID (US)          38148  23.9
12                                 PLWABN ID (Poland)          33793  21.2
13                       NKCR AUT ID (Czech Republic)          31926  20.0
14         National Library of Israel J9U ID (Israel)          29952  18.7
15                 Union List of Artist Names ID (US)          29337  18.4
16                        RKDartists ID (Netherlands)          28417  17.8
17                                         Benezit ID          28219  17.7
18             Vatican Library VcBA ID (Vatican City)          26277  16.4
19                                         Prabook ID          23106  14.5

                                                Catalog  N Individuals     %
0                                               VIAF ID         129575  81.1
1                             Google Knowledge Graph ID         116647  73.0
2                                      GND ID (Germany)          96397  60.3
3                                                  ISNI          92573  58.0
4                                     CERL Thesaurus ID          76163  47.7
...                                                 ...            ...   ...
1578  Lexikon zum Literatur- und Kulturbetrieb im Ös...              1   0.0
1579  Treccani's Dizionario di Economia e Finanza ID...              1   0.0
1580  Library of Congress Children's Subject Heading...              1   0.0
1581                                CroRec ID (Croatia)              1   0.0
1582         Official Charts artist ID (United Kingdom)              1   0.0

[1583 rows x 3 columns]