In [1]:
import sqlite3
import pandas as pd
import plotly.express as px
import sys
from plotly.subplots import make_subplots
import plotly.graph_objects as go

sys.path.append('../')
from functions_env import DB_PATH


conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

In [2]:
df_individuals = pd.read_sql_query("SELECT * FROM individuals_main_information", conn)

In [ ]:
 list_data = []
    data_art_sci = pd.DataFrame()
    for path in paths:
        new = pd.read_csv(path, index_col=[0])
        list_data.append(new)

    data_art_sci = pd.concat([x for x in list_data])

In [6]:
import glob

In [11]:
data = pd.read_csv('../raw_data/wikidata_data/individual_info/individuals_info_chunk_rest.csv', index_col = [0])

In [4]:
paths = '../raw_data/wikidata_data/individual_info'

In [3]:
df_individuals

,individual_wikidata_id,individual_name,birthyear,individual_impact_years,country_code,country_name,wikipedia_cultural_score,identifier_score
0,Q77297362,Jean Jacques Morgan,1756.0,1770-1820,fr,France,NaN,1.0
1,Q6121397,Santos Domínguez y Benguria,1841.0,1850-1900,es,Spain,0.100247,6.0
2,Q55696859,Albert Lemoine,1824.0,1830-1880,None,None,NaN,26.0
3,Q861742,Edmond Plumier,1694.0,1700-1750,be,Belgium,0.101501,13.0
4,Q1611181,Hermann Gebhardt,1824.0,1830-1880,de,Germany,0.100100,10.0
...,...,...,...,...,...,...,...,...
220765,Q97948480,Emma Leroux de Lincy,NaN,None,None,None,NaN,7.0
220766,Q98455990,Sarah McMurray,NaN,None,None,None,NaN,7.0
220767,Q98755154,Barthélemy Baur,NaN,None,None,None,NaN,8.0
220768,Q99514831,V. E. Gurliov,NaN,None,None,None,NaN,2.0
220769,Q99541088,Angelo Tessarin,NaN,None,None,None,NaN,10.0