In [1]:
import pandas as pd

In [20]:
df_pop = pd.read_csv('/Users/charlesdedampierre/Desktop/ENS Projects/cultural_index/src/enricher/data_env/ENS - Cultural Index - Countries Databases - population_consolidate_date_harmonization.csv')

df_pop["value"] = df_pop["value"].apply(lambda x: x.replace(",", "."))
df_pop["value"] = df_pop["value"].astype(float)

df_pop["year"] = df_pop["year"].apply(lambda x: x.replace("\u202f", ""))
df_pop['year'] = df_pop['year'].astype(int)

df_pop = df_pop.groupby(["region_code", "year"])["value"].sum().reset_index()
df_pop = df_pop.sort_values(['region_code', 'year'])

In [15]:
import plotly.express as px
import plotly

fig = px.scatter(df, x="year", y="value", facet_col="region_code", width = 4000, height = 4000)

In [22]:
df_pop

           region_code  year   value
0         re_andalusia   800    3.75
1         re_andalusia   900    3.85
2         re_andalusia  1000    4.00
3         re_andalusia  1100    4.50
4         re_andalusia  1200    5.50
..                 ...   ...     ...
673  re_western_europe  1650   68.55
674  re_western_europe  1700   77.90
675  re_western_europe  1750   87.40
676  re_western_europe  1800  110.80
677  re_western_europe  1850  154.50

[678 rows x 3 columns]

In [28]:
import plotly.express as px

df = px.data.tips()
fig = px.scatter(df_pop, x="year", y="value", facet_col="region_code",
                facet_col_wrap=4,  width = 4000, height = 4000)

In [29]:
plotly.offline.plot(fig)

'temp-plot.html'